:root {
  --white: white;
  --blue: #4169e1;
  --grey: grey;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1100px;
  margin: auto;
}


.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  padding: 20px 40px;
}

.header--title {
  color: var(--white);
}

.header--right-container .btn:first-child {
  margin-right: 10px;
}

.btn {
  display: inline-block;
  background-color: transparent;
  padding: 5px 10px;
  color: var(--white);
  border: none;
  -webkit-appearance: none;
}

.btn:hover {
  cursor: pointer;
  color: var(--blue);
  transition: .5s;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn--border {
  border: 2px solid var(--white);
  border-radius: 30px;
}

.btn--border:hover {
  border-color: var(--blue);
}


.landing-page--header {
  background-image: linear-gradient(to bottom, rgba(162, 163, 170, 0.52), rgba(51, 47, 50, 0.73))
  , url("https://images.pexels.com/photos/6598/coffee-desk-laptop-notebook.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
}

.landing-page--moto {
  text-align: center;
  color: var(--white);
  font-size: 40px;
  text-transform: capitalize;
  text-transform: uppercase;
}

.landing-page--sub-moto {
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  opacity: 0.9;
}

.landing-page--body {
  padding: 30px 0;
}

.landing-page--body p {
  margin: 30px 0;
}

.login-form-container {
  position: absolute;
  top: 100px;
  right: 60px;
}

.sign-up-page {
  display: flex;
  justify-content: center;
}

.sign-up-page--side-background {
  background-image: url("https://images.pexels.com/photos/5835/sunset-hand-garden-book.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: 600px 800px;
  width: 600px;
  height: 600px;
}

.sign-up-page--form-container {
  background-color: var(--blue);
  transform: translateX(-150px);
  width: 400px;
  align-self: center;
}

.form {
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-field label {
  font-size: 15px;
  margin-bottom: 10px;
}

.input-field input {
  border: none;
  padding: 8px 10px;
  font-weight: 700;
}

.input-field input:active,
.input-field input:focus {
  outline: none;
}

.login-form {
  width: 300px;
  color: white;
}

.login-form--btn {
  background-color: rgb(255, 255, 255);
  opacity: .7;
  align-self: center;
  color: black;
  font-weight: 700;
  font-size: 15px;
  border-radius: 20px;
  padding: 15px 20px
}

.signup-form {
  padding: 20px 40px;
  color: var(--white);
} 

.signup-form h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.signup-form--btn {
  align-self: center;
  font-size: 18px;
}

.signup-form--btn:hover {
  background-color: white;
  color: black;
  opacity: .7;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b3c36;
  padding: 60px 0;
}

.footer--brand {
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
}

.footer--email {
  color: var(--white);
  margin-top: 5px;
  font-size: 13px;
}

.footer--nav {
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.footer--nav-link {
  padding: 10px 15px;
}

.footer--nav-link:not(:last-of-type) {
  border-right: 3px solid var(--white);
}

.footer--nav-link a {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
}

.footer--social-media-icons-box {
  display: flex;
  width: 130px;
  justify-content: space-between;
  margin-top: 5px;
}


.footer--logo {
  height: 15px;
}


/* ====================================== 

    DASHBOARD STYLES

=========================================*/

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: var(--grey);
}

.dashboard-header .btn {
  color: var(--grey);
}

.dashboard-header .btn--border {
  border-color: var(--grey);
}

.dashboard-header--left-box {
  display: flex;
  align-items: center;
}
.dashboard-header--left-box h2 {
  margin-right: 30px;
}

.dashboard-layout--top-container {
  display: flex;
}

.dashboard-layout--left-side-container {
  background-color: var(--grey);
  width: 300px;
}

.dash-board-layout--right-side-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.dash-board-layout--top-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73c2fb;
  height: 400px;
}

.dashboard-side-nav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 20px;
}

.top-activity-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.top-activity-container .activity-box {
  width: 300px;
}

.top-activity-container .activity-box:first-of-type {
  margin-right: 40px;
}

.bottom-activity-container {
  padding-bottom: 30px;
}
.bottom-activity-container .activity {
  width: 60%;
  margin: auto;
}

.bottom-activity-container .activity-title {
  text-align: center;
}

.tabs-holder {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

.dashboard-side-nav--link-tab {
  padding: 10px 20px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--white)
}
.dashboard-side-nav--link.active .dashboard-side-nav--link-tab,
.dashboard-side-nav--link-tab:hover {
  background-color: rgb(201, 187, 187);
}


/* ================================= 

  Tab styles

====================================*/

.tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  padding: 20px 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  background-color: var(--white);
  border-radius: 5px;
}

.tab-img{
  width: 50px;
}

.tab-text {
  text-transform: capitalize;
  text-align: center;
}

/* ====================================

 Activity

======================================*/

.activity {
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 2px 3px 4px grey;
}

.activity-title {
  border-bottom: 1px solid grey;
  padding: 5px 0;
  margin: 0 30px;
}

.activity-body {
  height: 200px;
}

/* ==============================

Dropdown

=================================*/

.dropdown {
  position: relative;;
}

.dropdown-title {
  position: relative;
  padding: 5px 10px;
  border: 1px solid var(--grey);
  border-radius: 20px;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  width: 130px;
  flex-direction: column;
  box-shadow: 2px 3px 5px grey;
  list-style: none;
}

.dropdown-left-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.dropdown-item {
  padding: 5px 10px;
  color: black;
}

.dropdown-item:hover {
  background-color: rgb(228, 220, 220);
}

/* .display-bottom {
  --width: 130px;
  position: relative;
  width: var(--width);
}

.dropdown--active .dropdown-menu {
  display: flex;
}


.dropdown-menu--left {
  top: 0;
  left: var(--width);
}
.select-class {
  width: var(--width);
} */